.hero,
.about,
.archive {
  padding: var(--base-padding);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  background-image: url("../assets/images/hero3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/images/hero3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
}

.about {
  background-color: black;
}

.archive {
  background-color: whitesmoke;
}

.title {
  width: 100%;
  font-size: 5rem;
  line-height: 0.75;
  color: whitesmoke;
  letter-spacing: 0.5rem;
  text-align: center;
  text-shadow: 2px 2px red;
}

.archive .title {
  text-shadow: 2px 2px black;
  color: red
}

.title span {
  display: block;
  font-size: 4rem;
  font-family: "Yellowtail", cursive;
  color: red;
  transform: rotate(355deg);
  text-align: center;
  text-shadow: 1px 1px whitesmoke;
}

.button {
  background: red;
  font-family: "VT323", monospace;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
  transition: all 0.2s ease;
  opacity: 0;
}

.button:focus,
.button:hover {
  background: whitesmoke;
  color: red;
}

.about .title {
  margin-bottom: 1rem;
}

.about .hosts .title {
  font-size: 2rem;
}

.about .desc {
  margin: 0 auto;
  width: 80%;
  color: whitesmoke;
  font-size: 1.6rem;
  text-align: center;
}

.about hr {
  margin: 2rem 0;
  border: 2px solid red;
  width: 100%;
}

.about .hosts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.about .hosts article {
  flex: 50% 0 0;
  width: 50%;
  text-align: center;
}

.about .hosts .profile {
  padding: 2rem 0;
  display: block;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 600px){

  h1.title {
    font-size: 3rem;
  }
  .title {
    font-size: 2rem;
    line-height: 1;
  }
  .title span {
    font-size: 2rem;
  }

  .about .desc {
    width: 100%;
  }

  .about .hosts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about .hosts article {
    flex: 1 0 0;
    width: 100%;
  }
}